@font-face {
  font-family: "KenVector Future";
  src: url(../assets/fonts/kenvector_future.ttf);
}

h1 {
  font-family: sans-serif; 
  font-size: 4em;
  color: black;
  text-align: center;
}

h1 em {
  font-size: 1.3em;

}

canvas {
  display: block;
  margin: 0 auto;
  outline: 0;
}

.instructions {
  text-align: center;
}
